.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: var(--padding) 2vw;
    grid-template-rows: auto;
    grid-column-gap: var(--margin);
    grid-row-gap: var(--margin);
    transform: perspective(686px);
    margin-bottom: calc(2 * var(--padding));
}